<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>精准报价</title>
		<link href="../css/bootstrap.css" rel="stylesheet">
		<script src="../js/jquery-1.11.3.min.js"></script>
		<script src="../js/bootstrap.min.js"></script>
		<link rel="shortcut icon" type="image/x-icon" href="../img/logo.png" />
		<script type="text/javascript" src="/js/vue.min.js"></script>
		<script type="text/javascript" src="/js/vue-resource.js"></script>
		<script type="text/javascript" src="/js/jquery.params.js"></script> 
		<script type="text/javascript">
			$(function() {	
				$("th").prop("height","40px"); 
				$("td").prop("height","34px"); 
			}) ;
		</script>
		<style>
			[v-cloak]{
				display:none ;
			}
		</style>
	</head>
	<body>
		<div id="submissionInsurance">
		<!--导航栏-->
		<div>
			<hr style="width: 100%;height: 33px;background-color:#D7D7D7; position: absolute;top: -20px;left: 0px;"/> 	
			<a href="foreground-index.html" style="color: #000000;position: absolute;top:7px;left: 168px;">七武海车险首页</a>
			<a href="javascript:void(0);" style="color: #000000;position: absolute;top:7px;left: 283px;">|</a>
			<a href="my-information.html" style="color: #000000;position: absolute;top:7px;left: 300px;"><font v-if='loginInfo!=null && loginInfo.loginName!=""' v-cloak>{{loginInfo.loginName}}</font>个人中心</a>
			
			<a href="foreground-login.html" style="color: #000000;position: absolute;top:7px;right: 168px;">退出登录</a>
		</div>
		
		<div style="position: absolute;top: 52px;left: 167px;width: 1250px;">
			<div class="row">
	    		<div class="col-lg-1 col-md-1 col-sm-1" style="margin-top: -10px;text-align: right;">
					<img src="../img/logo.png" height="50px" />&nbsp;
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2" style="margin-top: -6px;padding-left: 0;">		
					<div class="text-primary" style="font-size: 30px;font-weight: 800;font-family: '微软雅黑';">七武海车险</div>
				</div>
	    	</div>
		</div>
		
		<img src="../img/提交投保.PNG" style="position: absolute;top: 120px;left: 167px;"/>
		
		<div style="position: absolute;top: 154px;left: 167px;width: 810px;height: 670px;background-color: #F7F7F7;">
			<table style="margin: 0 auto; text-align: center;width: 700px;">
				<tr>
					<td style="text-align: left;" colspan="3"><h3><span class="label label-warning">相关人员信息</span></h3></td>
				</tr>
				<tr>
					<td style="text-align: left;width:33%;">
						<table>
							<tr><td><span class="label label-info">车主信息</span></td></tr>
							<tr>
								<td>
									<input type="text" placeholder="姓名" v-model="carOwner.personnelName" maxlength="20"/>
									<span style="color:red" v-cloak><br/>{{carOwnerNameMsg}}</span>
								</td>
							</tr>
							
							<tr>
								<td>
									<select style="width: 90px;" v-model="carOwner.paperTypeId">
										<option value="-1">请选择</option>
									    <option v-for="paper in paperList1" :value="paper.paperId">{{paper.paperType}}</option>
								 	</select>&nbsp;证件类型
								 	<span style="color:red" v-cloak><br/>{{carOwnerPaperTypeIdMsg}}</span>
								</td>
							</tr>
							<tr>
								<td>
									<input type="text" placeholder="证件号码" v-model="carOwner.paperNum" maxlength="18">
									<span style="color:red" v-cloak><br/>{{carOwnerPaperNumMsg}}</span>
								</td>
							</tr>
							<tr>
								<td>
									<input type="text" placeholder="手机号" v-model="carOwner.phoneNum" maxlength="11">
									<span style="color:red" v-cloak><br/>{{carOwnerPhoneNumMsg}}</span>
								</td>
							</tr>
							<tr>
								<td>
									<select style="width: 76px;" v-model="carOwner.ipProvinceNum" @change="getCity1ByProvinceId1()">
									    <option value="-1">请选择</option>
									    <option v-for="province in provinceList1" :value="province.provinceId">{{province.province}}</option>
								 	</select>省&nbsp;
								    <select style="width: 76px;" v-model="carOwner.ipCity">
									    <option value="-1">请选择</option>
									    <option v-for="city in cityList1" :value="city.cityId">{{city.city}}</option>
								    </select>&nbsp;市
								    <span style="color:red" v-cloak><br/>{{carOwnerAreaMsg}}</span>
								</td>
							</tr>
							<tr>
								<td>
									<textarea placeholder="详细地址" style="resize:none; width: 175px;" maxlength="100" v-model="carOwner.address"></textarea>
									<span style="color:red" v-cloak><br/>{{carOwnerAddressMsg}}</span>
								</td>
							</tr>
						</table>					
					</td>
					<td style="text-align: left;width:33%;">
						<table>
							<tr>
								<td><span class="label label-info">投保人信息</span>&nbsp;&nbsp;<input type="checkbox" id="ac" @click="applicantCheckbox()"/>同车主信息<br /></td>
							</tr>
							<tr>
								<td>
									<input type="text" placeholder="姓名" v-model="applicant.personnelName" maxlength="20"/>
									<span style="color:red" v-cloak><br/>{{applicantNameMsg}}</span>
								</td>
							</tr>
							<tr>
								<td>
									<select style="width: 90px;" v-model="applicant.paperTypeId">
										<option value="-1">请选择</option>
									    <option v-for="paper in paperList2" :value="paper.paperId">{{paper.paperType}}</option>
								 	</select>&nbsp;证件类型
								 	<span style="color:red" v-cloak><br/>{{applicantPaperTypeIdMsg}}</span>
								</td>
							</tr>
							<tr>
								<td>
									<input type="text" placeholder="证件号码" v-model="applicant.paperNum" maxlength="18">
									<span style="color:red" v-cloak><br/>{{applicantPaperNumMsg}}</span>
								</td>
							</tr>
							<tr>
								<td>
									<input type="text" placeholder="手机号" v-model="applicant.phoneNum" maxlength="11">
									<span style="color:red" v-cloak><br/>{{applicantPhoneNumMsg}}</span>
								</td>
							</tr>
							<tr>
								<td>
									<select style="width: 76px;" v-model="applicant.ipProvinceNum" @change="getCity2ByProvinceId2()">
									    <option value="-1">请选择</option>
									    <option v-for="province in provinceList2" :value="province.provinceId">{{province.province}}</option>
								 	</select>省&nbsp;
								    <select style="width: 76px;" v-model="applicant.ipCity">
									    <option value="-1">请选择</option>
									    <option v-for="city in cityList2" :value="city.cityId">{{city.city}}</option>
								    </select>&nbsp;市
								    <span style="color:red" v-cloak><br/>{{applicantAreaMsg}}</span>
								</td>
							</tr>
							<tr>
								<td>
									<textarea placeholder="详细地址" v-model="applicant.address" style="resize:none; width: 175px;" maxlength="100"></textarea>
									<span style="color:red" v-cloak><br/>{{applicantAddressMsg}}</span>
								</td>
							</tr>
						</table>
											
					</td>
					<td style="text-align: left;width:33%;">
					<table>
							<tr>
								<td><span class="label label-info">受益人信息</span>&nbsp;&nbsp;<input type="checkbox" @click="insuredpersonCheckbox()" id="ic"/>同车主信息<br />
								</td>
							</tr>
							<tr>
								<td>
									<input type="text" placeholder="姓名" v-model="insuredperson.personnelName" maxlength="20"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									<span style="color:red" v-cloak><br/>{{insuredpersonNameMsg}}</span>
								</td>
							</tr>
							<tr>
								<td>
									<select style="width: 90px;" v-model="insuredperson.paperTypeId">
										<option value="-1">请选择</option>
									    <option v-for="paper in paperList3" :value="paper.paperId">{{paper.paperType}}</option>
								 	</select>&nbsp;证件类型
								 	<span style="color:red" v-cloak><br/>{{insuredpersonPaperTypeIdMsg}}</span>
								</td>
							</tr>
							<tr>
								<td>
									<input type="text" placeholder="证件号码" v-model="insuredperson.paperNum" maxlength="18">
									<span style="color:red" v-cloak><br/>{{insuredpersonPaperNumMsg}}</span>
								</td>
							</tr>
							<tr>
								<td>
									<input type="text" placeholder="手机号" v-model="insuredperson.phoneNum" maxlength="11">
									<span style="color:red" v-cloak><br/>{{insuredpersonPhoneNumMsg}}</span>
								</td>
							</tr>
							<tr>
								<td>
									<select style="width: 76px;" v-model="insuredperson.ipProvinceNum" @change="getCity3ByProvinceId3()">
									    <option value="-1">请选择</option>
									    <option v-for="province in provinceList3" :value="province.provinceId">{{province.province}}</option>
								 	</select>省&nbsp;
								    <select style="width: 76px;" v-model="insuredperson.ipCity">
									    <option value="-1">请选择</option>
									    <option v-for="city in cityList3" :value="city.cityId">{{city.city}}</option>
								    </select>&nbsp;市
								    <span style="color:red" v-cloak><br/>{{insuredpersonAreaMsg}}</span>
								</td>
							</tr>
							<tr>
								<td>
									<textarea placeholder="详细地址" v-model="insuredperson.address" style="resize:none; width: 175px;" maxlength="100"></textarea>
									<span style="color:red" v-cloak><br/>{{insuredpersonAddressMsg}}</span>
								</td>
							</tr>
					</table>					
					</td>
					
				</tr>
				
				
				<tr>
					<td style="text-align: left;" colspan="3"><h3><span class="label label-warning">保单及发票领取信息</span></h3></td>
				</tr>
				<tr>
				<td style="text-align: left;">发票形式：纸质发票			            
				</td>
			</tr>
			<tr>
				<td style="text-align: left;" colspan="3">保单领取方式：快递或邮寄
				</td>
			</tr>
			<tr>
				<td style="text-align: left;"><input type="checkbox" @click="invoiceInfoCheckbox()" id="ii"/>同车主信息</td>
			</tr>
			<tr>
				<td  style="text-align: left;" colspan="3">
					<input type="text" placeholder="收件人姓名" v-model="invoiceInfo.personnelName" maxlength="20"/>
					<span style="color:red" v-cloak><br/>{{invoiceInfoNameMsg}}</span>
				</td>
			</tr>
			<tr>
				<td  style="text-align: left;" colspan="3">
					<input type="text" placeholder="收件人电话" v-model="invoiceInfo.phoneNum" maxlength="11"/>
					<span style="color:red" v-cloak><br/>{{invoiceInfoPhoneNumMsg}}</span>
				</td>
			</tr>
			<tr>
				<td  style="text-align: left;" colspan="3">
					<textarea placeholder="详细收件地址"  v-model="invoiceInfo.address" style="resize:none; width: 175px;" maxlength="100"></textarea>
					<span style="color:red" v-cloak><br/>{{invoiceInfoAddressMsg}}</span>
				</td>
			</tr>
			<tr>
				<td  style="text-align: center;" colspan="3">
					<input type="checkbox" id="agreement"/>&nbsp;我已阅读并且同意<a class="btn btn-link" data-toggle="modal" data-target="#myModal"><七武海车险协议></a>
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-content">
							<div style="width: 1000px;background-color: #FAFAFA;position: absolute;top:50px;left:290px;padding: 60px 100px 80px 100px;">
								<div align="center"><h2>七武海车险协议</h2></div><br/>
									<div align="left">
										<h3>保险责任</h3> 
										<p>保险期间内，被保险人或其允许的驾驶人在使用被保险机动车过程中，因下列原因造成被保险机动车的直接损失，且不属于免除保险人责任的范围，保险人依照本保险合同的约定负责赔偿。发生保险事故时，被保险人或其允许的驾驶人为防止或者减少被保险机动车的损失所支付的必要的、合理的施救费用，由保险人承担；施救费用数额在被保险机动车损失赔偿金额以外另行计算，最高不超过保险金额的数额。</p> 
							
							            <h3>责任免除</h3> 
							            <p>下列情况下，不论任何原因造成被保险机动车的任何损失和费用，保险人均不负责赔偿：事故发生后，被保险人或其允许的驾驶人故意破坏、伪造现场、毁灭证据；事故发生后，在未依法采取措施的情况下驾驶被保险机动车或者遗弃被保险机动车离开事故现场；饮酒、吸食或注射毒品、服用国家管制的精神药品或者麻醉药品；无驾驶证，驾驶证被依法扣留、暂扣、吊销、注销期间；驾驶与驾驶证载明的准驾车型不相符合的机动车；实习期内驾驶公共汽车、营运客车或者执行任务的警车、载有危险物品的机动车或牵引挂车的机动车；驾驶出租机动车或营业性机动车无交通运输管理部门核发的许可证书或其他必备证书；学习驾驶时无合法教练员随车指导；非被保险人允许的驾驶人；</p> 
							
							            <h3>免赔率与免赔额</h3> 
										<p>保险人在依据本保险合同约定计算赔款的基础上，按照下列方式免赔：被保险机动车一方负次要事故责任的，实行5%的事故责任免赔率；负同等事故责任的，实行10%的事故责任免赔率；负主要事故责任的，实行15%的事故责任免赔率；负全部事故责任或单方肇事事故的，实行20%的事故责任免赔率；被保险机动车的损失应当由第三方负责赔偿，无法找到第三方的，实行30%的绝对免赔率；违反安全装载规定、但不是事故发生的直接原因的，增加10%的绝对免赔率；对于投保人与保险人在投保时协商确定绝对免赔额的，本保险在实行免赔率的基础上增加每次事故绝对免赔额。</p> 
							            
							            <h3>保险金额</h3> 
							            <p>保险金额按投保时被保险机动车的实际价值确定。投保时被保险机动车的实际价值由投保人与保险人根据投保时的新车购置价减去折旧金额后的价格协商确定或其他市场公允价值协商确定。 折旧金额可根据本保险合同列明的参考折旧系数表确定。</p> 
							            
							            <h3>赔偿处理</h3> 
							            <p>发生保险事故时，被保险人或其允许的驾驶人应当及时采取合理的、必要的施救和保护措施，防止或者减少损失，并在保险事故发生后48小时内通知保险人。被保险人或其允许的驾驶人根据有关法律法规规定选择自行协商方式处理交通事故的，应当立即通知保险人。被保险人或其允许的驾驶人根据有关法律法规规定选择自行协商方式处理交通事故的，应当协助保险人勘验事故各方车辆、核实事故责任，并依照《道路交通事故处理程序规定》签订记录交通事故情况的协议书。被保险人索赔时，应当向保险人提供与确认保险事故的性质、原因、损失程度等有关的证明和资料。</p> 
							           
							            <h3>其他事项</h3> 
							            <p>保险人按照本保险合同的约定，认为被保险人索赔提供的有关证明和资料不完整的，应当及时一次性通知被保险人补充提供。第六十四条 保险人收到被保险人的赔偿请求后，应当及时作出核定；情形复杂的，应当在三十日内作出核定。保险人应当将核定结果通知被保险人；对属于保险责任的，在与被保险人达成赔偿协议后十日内，履行赔偿义务。保险合同对赔偿期限另有约定的，保险人应当按照约定履行赔偿义务。保险人未及时履行前款约定义务的，除支付赔款外，应当赔偿被保险人因此受到的损失。</p>
									</div>
									<br/>
						            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button> 
								</div>
							</div><!-- modal-content -->
						</div><!-- modal -->
					
					</td>
				</tr>
			    <tr>
				<td  style="text-align: center;" colspan="3">
					<input type="button" class="btn btn-info" value="上一步 " @click="backToInsuranceQuote()"/>&nbsp;&nbsp;&nbsp;
					<input type="button" class="btn btn-info" value="提交 " @click="submitPolicyInfo()"/>
				</td>
			</tr>
		 </table>  
		</div>
		</div>
		<script type="text/javascript">			
			var protocol = window.location.protocol;
		    var host = window.location.hostname;
		    var port = window.location.port;
		    
			var submissionInsurance = new Vue({
				el:"#submissionInsurance",
				mounted:function(){	
					//判断是否登陆
					this.getLoginInfo();
					this.getProvinces();
					this.getPaper();
					this.getPolicyDate() ;  //查询上个页面传过来的数据
					this.getCarOwnerInfo() ;
					this.getPolicyNumber() ;
				},
				data:{
					/* 车主信息 */
					carOwner:{ 
						personnelName:'',
						phoneNum:'',
						paperTypeId:-1,
						paperNum:'',
						ipProvinceNum:-1,
						ipCity:-1,
						address:''
					},
					/*登陆信息*/
					loginInfo:{
						loginId:'',
						loginName:'',
						loginPwd:'',
						loginStatus:''
					},
					/* 投保人信息 */
					applicant:{ 
						personnelName:'',
						phoneNum:'',
						paperTypeId:-1,
						paperNum:'',
						ipProvinceNum:-1,
						ipCity:-1,
						address:''
					},
					
					/* 受益人信息 */
					insuredperson:{ 
						personnelName:'',
						phoneNum:'',
						paperTypeId:-1,
						paperNum:'',
						ipProvinceNum:-1,
						ipCity:-1,
						address:''
					},
					
					invoiceInfo:{
						personnelName:'',
						phoneNum:'',
						address:''
					},
					
					provinceList1:[],
					provinceList2:[],
					provinceList3:[],
					cityList1:[],
					cityList2:[],
					cityList3:[],

					//用于选择证件类型
					paperList1:[],
					paperList2:[],
					paperList3:[],
					
					carOwnerNameMsg:'',
					carOwnerPaperTypeIdMsg:'',
					carOwnerPaperNumMsg:'',
					carOwnerPhoneNumMsg:'',
					carOwnerAreaMsg:'',
					carOwnerAddressMsg:'',
					applicantNameMsg:'',
					applicantPaperTypeIdMsg:'',
					applicantPaperNumMsg:'',
					applicantPhoneNumMsg:'',
					applicantAreaMsg:'',
					applicantAddressMsg:'',
					insuredpersonNameMsg:'',
					insuredpersonPaperTypeIdMsg:'',
					insuredpersonPaperNumMsg:'',
					insuredpersonPhoneNumMsg:'',
					insuredpersonAreaMsg:'',
					insuredpersonAddressMsg:'',
					invoiceInfoNameMsg:'',
					invoiceInfoPhoneNumMsg:'',
					invoiceInfoAddressMsg:'',
					
					autocheck1:0,
					autocheck2:0,
					autocheck3:0,
					autocheck4:0,
					
					policyNumber:'',//保单号
					totalPrice:0,   //保单总价
					carOffer:0,     //市场价 					
					score:0,        //自动核保评分				
					carId:0,        //汽车ID
					carOwnerId:0,   //车主ID
					policyId:0      //保单ID
					
				},
				methods:{
					getLoginInfo:function(){
						this.$http.post(protocol+"//"+host+":"+port+"/getLoginInfo.action").then(
								function(res){
									this.loginInfo=res.data.loginInfo;
									if(res.data.loginInfo==null){
										alert("未登陆，请先登陆");
										window.location = "/foreground/foreground-login.html";
									}
								},
								function(res){
									this.loginName="";
								}
							);
					},
					getPolicyNumber:function(){
						var params = {"policyId":this.policyId};
						this.$http.post(protocol+"//"+host+":"+port+"/buyInsurance/getPolicyNumerByPolicyId.action",params,{emulateJSON:true}).then(
						function(res){
							this.policyNumber = res.data.policyNumber ;
						},
						function(res){
							alert("系统正忙，请稍后！");
							console.log(res);
						});
					},
				
					//查询所有省份				
					getProvinces:function(){
						var params = {};
						this.$http.post(protocol+"//"+host+":"+port+"/privince/findAllProvince.action",params,{emulateJSON:true}).then(
						function(res){
							this.provinceList1 = res.data.provinceList ;//返回的是map对象，名字为provinceList
							this.provinceList2 = res.data.provinceList ;
							this.provinceList3 = res.data.provinceList ;
						},
						function(res){
							alert("系统正忙，请稍后！");
							console.log(res);
						});
					},
					//根据省份查询城市
					getCity1ByProvinceId1:function(){
						var params = {"provinceId":this.carOwner.ipProvinceNum};
						this.$http.post(protocol+"//"+host+":"+port+"/city/findAllCityByProinceId.action",params,{emulateJSON:true}).then(
						function(res){
							this.cityList1 = res.data.cityList ;
							/* this.carOwner.ipCity = -1 ; */
						},
						function(res){
							alert("系统正忙，请稍后！");
							console.log(res);
						});
					},
					getCity2ByProvinceId2:function(){
						var params = {"provinceId":this.applicant.ipProvinceNum};
						this.$http.post(protocol+"//"+host+":"+port+"/city/findAllCityByProinceId.action",params,{emulateJSON:true}).then(
						function(res){
							this.cityList2 = res.data.cityList ;
							/* this.applicant.ipCity = -1 ; */
						},
						function(res){
							alert("系统正忙，请稍后！");
							console.log(res);
						});
					},
					getCity3ByProvinceId3:function(){
						var params = {"provinceId":this.insuredperson.ipProvinceNum};
						this.$http.post(protocol+"//"+host+":"+port+"/city/findAllCityByProinceId.action",params,{emulateJSON:true}).then(
						function(res){
							this.cityList3 = res.data.cityList ;
							/* this.insuredperson.ipCity = -1 ; */
						},
						function(res){
							alert("系统正忙，请稍后！");
							console.log(res);
						});
					},
					
					getPaper:function(){
						var params = {};
						this.$http.post(protocol+"//"+host+":"+port+"/paper/getAllPaper.action",params,{emulateJSON:true}).then(
						function(res){
							this.paperList1 = res.data.paperList;
							this.paperList2 = res.data.paperList;
							this.paperList3 = res.data.paperList;
						},
						function(res){
							alert("系统正忙，请稍后！");
							console.log(res);
						});
					},
					
					getPolicyDate:function(){
						this.totalPrice = $.query.get("totalPrice") ;
						this.carOwnerId = $.query.get("carOwnerId") ;	
						this.policyId = $.query.get("policyId") ;
						this.carOffer = $.query.get("carOffer") ;
						this.score = $.query.get("score") ;
						this.carId = $.query.get("carId") ;
						this.autocheck1 = $.query.get("autocheck1") ;	
						this.autocheck2 = $.query.get("autocheck2") ;
						this.autocheck3 = $.query.get("autocheck3") ;
						this.autocheck4 = $.query.get("autocheck4") ;
					},
				
					getCarOwnerInfo:function(){
						var params = {"carOwnerId":this.carOwnerId};
						this.$http.post(protocol+"//"+host+":"+port+"/buyInsurance/getCarOwnerInfoByCarOwnerId.action",params,{emulateJSON:true}).then(
						function(res){
							this.carOwner.personnelName = res.data.carOwner.personnelName ;
							this.carOwner.phoneNum = res.data.carOwner.phoneNum ;
							this.carOwner.paperTypeId = res.data.carOwner.paperTypeId ;
							this.carOwner.paperNum = res.data.carOwner.paperNum ;
							this.carOwner.ipProvinceNum = res.data.carOwner.ipProvinceNum ;
							this.getCity1ByProvinceId1() ;
							this.carOwner.address = res.data.carOwner.address ;
							this.carOwner.ipCity = res.data.carOwner.ipCity ;
						},
						function(res){
							alert("系统正忙，请稍后！");
							console.log(res);
						});
					},
					
					applicantCheckbox:function(){
						if($("#ac").is(":checked")){
							this.applicant.personnelName = this.carOwner.personnelName ;
							this.applicant.phoneNum = this.carOwner.phoneNum ;
							this.applicant.paperTypeId = this.carOwner.paperTypeId ;
							this.applicant.paperNum = this.carOwner.paperNum ;
							this.applicant.ipProvinceNum = this.carOwner.ipProvinceNum ;
							this.getCity2ByProvinceId2() ;
							this.applicant.ipCity = this.carOwner.ipCity ;
							this.applicant.address = this.carOwner.address ;
						}else{
							this.applicant.personnelName = '' ;
							this.applicant.phoneNum = '' ;
							this.applicant.paperTypeId = -1 ;
							this.applicant.paperNum = '' ;
							this.applicant.ipProvinceNum = -1 ;
							this.applicant.ipCity = -1 ;
							this.applicant.address = '' ;
						}
					},
					
					insuredpersonCheckbox:function(){
						if($("#ic").is(":checked")){
							this.insuredperson.personnelName = this.carOwner.personnelName ;
							this.insuredperson.phoneNum = this.carOwner.phoneNum ;
							this.insuredperson.paperTypeId = this.carOwner.paperTypeId ;
							this.insuredperson.paperNum = this.carOwner.paperNum ;
							this.insuredperson.ipProvinceNum = this.carOwner.ipProvinceNum ;
							this.getCity3ByProvinceId3() ;
							this.insuredperson.ipCity = this.carOwner.ipCity ;
							this.insuredperson.address = this.carOwner.address ;
						}else{
							this.insuredperson.personnelName = '' ;
							this.insuredperson.phoneNum = '' ;
							this.insuredperson.paperTypeId = -1 ;
							this.insuredperson.paperNum = '' ;
							this.insuredperson.ipProvinceNum = -1 ;
							this.insuredperson.ipCity = -1 ;
							this.insuredperson.address = '' ;
						}
					},
					
					invoiceInfoCheckbox:function(){
						if($("#ii").is(":checked")){
							this.invoiceInfo.personnelName = this.carOwner.personnelName ;
							this.invoiceInfo.phoneNum = this.carOwner.phoneNum ;
							this.invoiceInfo.address = this.carOwner.address ;
						}else{
							this.invoiceInfo.personnelName = '' ;
							this.invoiceInfo.phoneNum = '' ;
							this.invoiceInfo.address = '' ;
						}
					},
					
					backToInsuranceQuote:function(){
						location.href='insurance-quote.html?carId='+this.carId+'&carOwnerId='
						+this.carOwnerId+'&policyId='+this.policyId+'&score='+this.score+'&carOffer='+this.carOffer
						+'&autocheck1='+this.autocheck1+'&autocheck2='+this.autocheck2
						+'&autocheck3='+this.autocheck3+'&autocheck4='+this.autocheck4;
					},
					
					submitPolicyInfo:function(){
						this.carOwnerNameMsg = '' ;
						this.carOwnerPaperTypeIdMsg = '' ;
						this.carOwnerPaperNumMsg = '' ;
						this.carOwnerPhoneNumMsg = '' ;
						this.carOwnerAreaMsg = '' ;
						this.carOwnerAddressMsg = '' ;
						this.applicantNameMsg = '' ;
						this.applicantPaperTypeIdMsg = '' ;
						this.applicantPaperNumMsg = '' ;
						this.applicantPhoneNumMsg = '' ;
						this.applicantAreaMsg = '' ;
						this.applicantAddressMsg = '' ;	
						this.insuredpersonNameMsg = '' ;
						this.insuredpersonPaperTypeIdMsg = '' ;
						this.insuredpersonPaperNumMsg = '' ;
						this.insuredpersonPhoneNumMsg = '' ;
						this.insuredpersonAreaMsg = '' ;
						this.insuredpersonAddressMsg = '' ;
						this.invoiceInfoNameMsg = '' ;
						this.invoiceInfoPhoneNumMsg = '' ;
						this.invoiceInfoAddressMsg = '' ;
						//姓名正则
						var regexName = /^[a-zA-Z\u4e00-\u9fa5]+$/ ;
						//手机号正则
						var regexPhone = /(?:^1[3456789]|^9[28])\d{9}$/ ;
						//身份证正则
						var regexIDcard = /(^\d{15}$)|(^\d{17}([0-9]|X)$)/;
						//户口本正则
						var regexRegisteredResidence = /^[a-zA-Z0-9]{3,21}$/;   
						//护照正则
						var regexPassport = /^1[45][0-9]{7}$|(^[P|p|S|s]\d{7}$)|(^[S|s|G|g|E|e]\d{8}$)|(^[Gg|Tt|Ss|Ll|Qq|Dd|Aa|Ff]\d{8}$)|(^[H|h|M|m]\d{8,10}$)/;   
						//车主姓名校验
						if(this.carOwner.personnelName == '' ){
							this.carOwnerNameMsg = '您还未选择填写姓名' ;
							return ;
						}
						if(!regexName.test(this.carOwner.personnelName)){
							this.carOwnerNameMsg = '姓名格式不符合规范' ;
							return ;
						}
						
						//车主证件类型校验
						if(this.carOwner.paperTypeId < 0){
							this.carOwnerPaperTypeIdMsg = '您还未选择证件类型' ;
							return ;
						}	
						
						//车主证件号码校验
						if(this.carOwner.paperNum == '' ){
							this.carOwnerPaperNumMsg = '您还未填写证件号码' ;
							return ;
						}
						if(this.carOwner.paperTypeId == 1){
							if(!regexIDcard.test(this.carOwner.paperNum)){
								this.carOwnerPaperNumMsg = '请填写有效身份证' ;
								return ;
							}
						}
						if(this.carOwner.paperTypeId == 2){
							if(!regexRegisteredResidence.test(this.carOwner.paperNum)){
								this.carOwnerPaperNumMsg = '请填写有效户口本号' ;
								return ;
							}
						}
						if(this.carOwner.paperTypeId == 3){
							if(!regexPassport.test(this.carOwner.paperNum)){
								this.carOwnerPaperNumMsg = '请填写有效护照号' ;
								return ;
							}
						}
						
						//车主手机号码校验
						if(this.carOwner.phoneNum == '' ){
							this.carOwnerPhoneNumMsg = '您还未填写手机号码' ;
							return ;
						}
						if(!regexPhone.test(this.carOwner.phoneNum)){
							this.carOwnerPhoneNumMsg = '请填写有效手机号' ;
							return ;
						}
						
						//车主所在地区校验
						if(this.carOwner.ipProvinceNum < 0 || this.carOwner.ipCity < 0){
							this.carOwnerAreaMsg = '您还未选择所在地区' ;
							return ;
						}
						
						//车主详细地址校验
						if(this.carOwner.address == ''){
							this.carOwnerAddressMsg = '您还未填写详细地址' ;
							return ;
						}
						
						//投保人姓名校验
						if(this.applicant.personnelName == '' ){
							this.applicantNameMsg = '您还未选择填写姓名' ;
							return ;
						}
						if(!regexName.test(this.applicant.personnelName)){
							this.applicantNameMsg = '姓名格式不符合规范' ;
							return ;
						}
						
						//投保人证件类型校验
						if(this.applicant.paperTypeId < 0){
							this.applicantPaperTypeIdMsg = '您还未选择证件类型' ;
							return ;
						}	
						
						//投保人证件号码校验
						if(this.applicant.paperNum == '' ){
							this.applicantPaperNumMsg = '您还未填写证件号码' ;
							return ;
						}
						if(this.applicant.paperTypeId == 1){
							if(!regexIDcard.test(this.applicant.paperNum)){
								this.applicantPaperNumMsg = '请填写有效身份证' ;
								return ;
							}
						}
						if(this.applicant.paperTypeId == 2){
							if(!regexRegisteredResidence.test(this.applicant.paperNum)){
								this.applicantPaperNumMsg = '请填写有效户口本号' ;
								return ;
							}
						}
						if(this.applicant.paperTypeId == 3){
							if(!regexPassport.test(this.applicant.paperNum)){
								this.applicantPaperNumMsg = '请填写有效护照号' ;
								return ;
							}
						}
						
						//投保人手机号码校验
						if(this.applicant.phoneNum == '' ){
							this.applicantPhoneNumMsg = '您还未填写手机号码' ;
							return ;
						}
						if(!regexPhone.test(this.applicant.phoneNum)){
							this.applicantPhoneNumMsg = '请填写有效手机号' ;
							return ;
						}
						
						//投保人所在地区校验
						if(this.applicant.ipProvinceNum < 0 || this.applicant.ipCity < 0){
							this.applicantAreaMsg = '您还未选择所在地区' ;
							return ;
						}
						
						//投保人详细地址校验
						if(this.applicant.address == ''){
							this.applicantAddressMsg = '您还未填写详细地址' ;
							return ;
						}
						
						
						//受益人姓名校验
						if(this.insuredperson.personnelName == '' ){
							this.insuredpersonNameMsg = '您还未选择填写姓名' ;
							return ;
						}
						if(!regexName.test(this.insuredperson.personnelName)){
							this.insuredpersonNameMsg = '姓名格式不符合规范' ;
							return ;
						}
						
						//受益人证件类型校验
						if(this.insuredperson.paperTypeId < 0){
							this.insuredpersonPaperTypeIdMsg = '您还未选择证件类型' ;
							return ;
						}	
						
						//受益人证件号码校验
						if(this.insuredperson.paperNum == '' ){
							this.insuredpersonPaperNumMsg = '您还未填写证件号码' ;
							return ;
						}
						if(this.insuredperson.paperTypeId == 1){
							if(!regexIDcard.test(this.insuredperson.paperNum)){
								this.insuredpersonPaperNumMsg = '请填写有效身份证' ;
								return ;
							}
						}
						if(this.insuredperson.paperTypeId == 2){
							if(!regexRegisteredResidence.test(this.insuredperson.paperNum)){
								this.insuredpersonPaperNumMsg = '请填写有效户口本号' ;
								return ;
							}
						}
						if(this.insuredperson.paperTypeId == 3){
							if(!regexPassport.test(this.insuredperson.paperNum)){
								this.insuredpersonPaperNumMsg = '请填写有效护照号' ;
								return ;
							}
						}
						
						//受益人手机号码校验
						if(this.insuredperson.phoneNum == '' ){
							this.insuredpersonPhoneNumMsg = '您还未填写手机号码' ;
							return ;
						}
						if(!regexPhone.test(this.insuredperson.phoneNum)){
							this.insuredpersonPhoneNumMsg = '请填写有效手机号' ;
							return ;
						}
						
						//受益人所在地区校验
						if(this.insuredperson.ipProvinceNum < 0 || this.insuredperson.ipCity < 0){
							this.insuredpersonAreaMsg = '您还未选择所在地区' ;
							return ;
						}
						
						//受益人详细地址校验
						if(this.insuredperson.address == ''){
							this.insuredpersonAddressMsg = '您还未填写详细地址' ;
							return ;
						}
						
						//收货地址姓名校验
						if(this.invoiceInfo.personnelName == '' ){
							this.invoiceInfoNameMsg = '您还未选择填写姓名' ;
							return ;
						}
						if(!regexName.test(this.invoiceInfo.personnelName)){
							this.invoiceInfoNameMsg = '姓名格式不符合规范' ;
							return ;
						}
						
						//收货地址手机号码校验
						if(this.invoiceInfo.phoneNum == '' ){
							this.invoiceInfoPhoneNumMsg = '您还未填写手机号码' ;
							return ;
						}
						if(!regexPhone.test(this.invoiceInfo.phoneNum)){
							this.invoiceInfoPhoneNumMsg = '请填写有效手机号' ;
							return ;
						}
						
						//受益人详细地址校验
						if(this.invoiceInfo.address == ''){
							this.invoiceInfoAddressMsg = '您还未填写详细地址' ;
							return ;
						}
						
						//七武海协议校验
						if(!$("#agreement").is(":checked")){
							alert("你还未确认<七武海车险协议>,请先确认") ;
							return ;
						}
						
						//跳转
						var params = {
								"carOwner":JSON.stringify(this.carOwner),
								"applicant":JSON.stringify(this.applicant),
								"insuredperson":JSON.stringify(this.insuredperson),
								"policyId":this.policyId,
								"carOwnerId":this.carOwnerId
						};
						this.$http.post(protocol+"//"+host+":"+port+"/buyInsurance/UpdateAllRelatedPersonnelInfo.action",params,{emulateJSON:true}).then(
						function(res){
							alert("前往支付") ;
							location.href='/foreground/index.html?policyNumber='+this.policyNumber+'&totalPrice='+this.totalPrice ;
						},
						function(res){
							alert("系统正忙，请稍后！");
							console.log(res);
						});
					}				
			    }
					
			});
		</script>
	</body>
</html>
